/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Roboto', sans-serif;
 }

 .container {
  margin-left: 15px;
 }

 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 25px;
  /* padding: 10px; */
  width: 50vw;
 }

 .wrapper > .item {
  background-color: rgba(103, 177, 247, 0.859);
  font-size: 25px;
  font-weight: bolder;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 2px;
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px rgba(165, 165, 165, 0.664);
 }

 .item > p {
  margin: 0;
 }

 #form {
  padding-top: 20px;
  padding-bottom: 10px;
 }
/*
 .form-item {
  padding-top: 10px;
  padding-bottom: 10px;
 } */

 .form-input {
  width: 30vw;
 }

 .inline-form {
  display: flex;
  padding-top: 20px;
 }

 #word-submit {
  background-color: white;
  border-color: rgba(53, 53, 53, 0.842);
  color: rgba(53, 53, 53, 0.842);
 }

 .container-main {
  padding-top: 20px;
 }

 .new-game {
  text-decoration: none;
  color: rgba(36, 141, 206, 0.837);
 }

 .new-game:hover {
  color: rgba(48, 149, 212, 0.717);
 }
